<div class='row'>
	<div class="col-sm-4">
		<div class="thumbnail">
			<div class="caption">
				<h1>Welcome to PDX Bike Swap</h1>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class='thumbnail'>
			<div class="caption">
				<center><h1>New listings</h1></center>
				
			</div>
		</div>
	</div>
</div>