/*body {
  background: url(tree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }*/
h1 {
  color: #FFFFFF;
}

 body {
 	background-color: #232B2B;
 }

.thumbnail {
	background-color: rgba(225,225,225,0.7);
}

.caption {
	opacity: 1.0;
}

.list-group {
	opacity: 0.8;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.float-left img {
  float: left;
}

.float-center {
  float: center;
}

.float-right {
  float: right;
}



.w {
  margin-top: 60px;
}
.w i {
  font-size: 26px;
  padding: 12px;
}

.jumbotron {
  opacity: 0.8;
}



.h1-black {
  color: #000000;
}


textarea {
    width: 400px;
    height: 250px;
}

.logo img{
  width: 100px;
  height: auto;
}

.email {
  display: none;
}

